@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  height: 100vh;
  width: 100vw;
  overflow: hidden
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

}

@layer components{
  .svgCover{
    @apply flex m-0 p-0.5 h-9 w-9 hover:bg-slate-200 rounded-xl items-center justify-center
  }
  .svgImg{
    @apply w-8 scale-125
  }
  .active{
    @apply bg-secondary
  }
  .menuContent{
    @apply flex flex-row border-none z-50 w-fit p-0 m-0 rounded-t-full rounded-b-full bg-white
  }
}